# ambiente
.venv/
.venv_tributario/

.env

# cache python
__pycache__/
*.pyc
*.pyo

# Pytest
.pytest_cache/

# sistema
.DS_Store
Thumbs.db

# projeto
logs/
exports/
tmp_uploads/
*.sped

# MySQL / dumps
*.sql

# IDE
.idea/
.vscode/
